{% extends "base.html" %}
{% block title %}Order Success{% endblock %}

{% block content %}
<div class="checkout-container">
    <h2>Thank you!</h2>
    <p>Your order <strong>{{ order.order_number }}</strong> has been placed successfully.</p>

    <div class="order-summary">
        <h3>Order Details</h3>
        <ul>
            {% for item in order.items.all %}
            <li>{{ item.variant.product.name }} x {{ item.quantity }} - {{ item.price_at_purchase|floatformat:2 }} RON</li>
            {% endfor %}
        </ul>

        <p><strong>Discount:</strong> <span>{{ order.discount_amount|floatformat:2 }} RON</span></p>
        <p><strong>Total Paid:</strong> <span>{{ order.total_after_discount|floatformat:2 }} RON</span></p>
    </div>

    <a href="/" class="btn">Back to Shop</a>
</div>
{% endblock %}
